# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/osx-arm64/blas-1.0-openblas.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/bzip2-1.0.8-h80987f9_6.conda
https://conda.anaconda.org/conda-forge/osx-arm64/c-ares-1.34.4-h5505292_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/ca-certificates-2025.1.31-hf0a4a13_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/dav1d-1.2.1-hb547adb_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/fribidi-1.0.10-h27ca646_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/giflib-5.2.2-h80987f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/icu-73.2-hc8870d7_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jpeg-9e-h80987f9_3.conda
https://conda.anaconda.org/conda-forge/osx-arm64/lame-3.100-h1a8c8d9_1003.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/libcxx-14.0.6-h848a8c0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libdeflate-1.22-h80987f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libev-4.33-h93a5062_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libffi-3.4.4-hca03da5_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libiconv-1.17-h0d3ecfb_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libjpeg-turbo-2.0.0-h1a28f6b_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libogg-1.3.5-h99b78c6_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libopus-1.3.1-h27ca646_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/libwebp-base-1.3.2-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/llvm-openmp-14.0.6-hc6e5704_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ncurses-6.4-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pixman-0.40.0-h1a28f6b_0.conda
https://conda.anaconda.org/pytorch/noarch/pytorch-mutex-1.0-cpu.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2025a-h04d1e81_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/xz-5.4.6-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/yaml-0.2.5-h1a28f6b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zlib-1.2.13-h18a0788_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aom-3.6.0-h313beb8_0.conda
https://conda.anaconda.org/pytorch/noarch/cpuonly-2.0-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/eigen-3.4.0-hc021e02_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/expat-2.6.4-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/gmp-6.3.0-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/graphite2-1.3.14-hc377ac9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lerc-4.0.0-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libabseil-20240116.2-cxx17_h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libedit-3.1.20230828-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgfortran5-11.3.0-h009349e_28.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libllvm14-14.0.6-h19fdd8a_4.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libpng-1.6.39-h80987f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libvorbis-1.3.7-h9f76cd9_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/libvpx-1.13.1-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libxml2-2.13.5-h0b34f26_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lz4-c-1.9.4-h313beb8_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/openh264-2.1.1-h98b2900_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/openssl-3.4.0-h81ee809_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pcre2-10.42-hb066dcc_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/readline-8.2-h1a28f6b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tk-8.6.14-h6ba3021_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/freetype-2.12.1-h1192e45_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/gettext-0.21.0-hbdbcc25_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/krb5-1.20.1-h69eda48_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libclang13-14.0.6-default_h24352ff_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgfortran-5.0.0-11_3_0_hca03da5_28.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libnghttp2-1.57.0-h62f6fdd_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libprotobuf-4.25.3-h514c7bf_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libssh2-1.11.1-h3e2b118_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libtheora-1.1.1-h99b78c6_1006.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/mpfr-4.2.1-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/sqlite-3.45.3-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zstd-1.5.6-hfb09047_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cyrus-sasl-2.1.28-h9131b1a_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/fontconfig-2.14.1-h6402c1e_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libarchive-3.7.7-h8f13d7a_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libclang-14.0.6-default_h1b80db6_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libcurl-8.11.1-hde089ae_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libglib-2.78.4-h0a96307_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libopenblas-0.3.21-h269037a_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libpq-12.20-h02f6b3c_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libtiff-4.5.1-hc9ead59_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/mpc-1.3.1-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/python-3.12.9-h99e199e_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brotli-python-1.0.9-py312h313beb8_9.conda
https://conda.anaconda.org/conda-forge/noarch/certifi-2024.12.14-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/charset-normalizer-3.3.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/filelock-3.13.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/glib-tools-2.78.4-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/gmpy2-2.2.1-py312h5c1b81f_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/hdf5-1.14.5-hd77251f_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/idna-3.7-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lcms2-2.16-he93ba84_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libwebp-1.3.2-ha3663a8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/markupsafe-3.0.2-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/mpmath-1.3.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/mysql-5.7.24-ha71a6ea_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/networkx-3.4.2-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-base-1.26.4-py312he047099_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/openjpeg-2.5.2-h54b8e55_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pysocks-1.7.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyyaml-6.0.2-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/setuptools-75.8.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/typing_extensions-4.12.2-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/wheel-0.45.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/glib-2.78.4-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jinja2-3.1.5-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/leptonica-1.82.0-h18c3764_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-1.26.4-py312h7f4fdc5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pillow-11.1.0-py312h84e58ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pip-25.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/sympy-1.13.3-py312hca03da5_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/urllib3-2.3.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cairo-1.16.0-h302bd0f_5.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/gdk-pixbuf-2.42.10-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/gstreamer-1.14.1-h80987f9_1.conda
https://conda.anaconda.org/pytorch/osx-arm64/pytorch-2.5.1-py3.12_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/requests-2.32.3-py312hca03da5_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tesseract-5.2.0-h313beb8_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/gst-plugins-base-1.14.1-h313beb8_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/harfbuzz-4.3.0-he9eebac_2.conda
https://conda.anaconda.org/pytorch/osx-arm64/torchaudio-2.5.1-py312_cpu.tar.bz2
https://conda.anaconda.org/pytorch/osx-arm64/torchvision-0.20.1-py312_cpu.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/pango-1.50.7-h7271ec9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/qt-main-5.15.2-h0917680_10.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/librsvg-2.56.3-h44e7d58_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ffmpeg-6.1.1-h5a7b8cb_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/opencv-4.10.0-py312h59986e5_1.conda
